#board-ghost-card, #board-suggested-card {
    position: fixed;
    width: 0px;
    height: 0px;
    border-radius: 0.5vw;    
    box-sizing: border-box;
    border: 2px dashed;
    pointer-events: none;
    transition: border-color 0.2s;
}

#board-ghost-card {
    border: 2px dashed rgba(90,124,255,1);
}

#board-ghost-card.overlapping {
    border-color: rgb(255, 90, 90);
}

#board-suggested-card {    
    border: 2px dashed rgb(101, 255, 90);
}

[data-board-card].placing {
    border-color: rgba(196, 196, 59, 0.754);
}

[data-board-card].placing.resizing {
    cursor: nw-resize;    
    box-shadow: 0 0 0 2px green;
}

[data-board-card].placing.moving {
    cursor: grabbing;   
    opacity: 0.4;
}

[data-board-card].editing {
    opacity: 0.4;
    transition: 0.2s opacity ease-out;
}