#dailyboard-ghost-card, #dailyboard-suggested-card {
    position: fixed;
    width: 0px;
    height: 0px;
    border-radius: 6px;    
    box-sizing: border-box;
    border: 2px dashed;
    pointer-events: none;
    transition: border-color 0.2s;
}

#dailyboard-ghost-card {
    border: 2px dashed rgba(90,124,255,1);
}

#dailyboard-ghost-card.overlapping {
    border-color: rgb(255, 90, 90);
}

#dailyboard-suggested-card {    
    border: 2px dashed rgb(101, 255, 90);
}

[data-dailyboard-card].editing {
    border-color: rgba(196, 196, 59, 0.754);
}

[data-dailyboard-card].editing.resize-mode {
    cursor: nw-resize;
    box-shadow: 0 0 0 2px blue;
}

[data-dailyboard-card].editing.move-mode {
    cursor: grabbing;
    box-shadow: 0 0 0 2px green;
    opacity: 0.9;
}