.body {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 96vh;
    justify-content: start;
    align-items: center;
    margin: 2vh 0;
}

.item {
    width: 48px;
    height: 48px;
    text-align: center;
    align-content: center;
}