.body, .grid {
    width: 100%;
    height: 100%;
}

.grid {
  --cell: min(96px, calc((100vw - 11 * 4px) / 12));

  display: grid;
  grid-template-columns: repeat(12, var(--cell));
  grid-template-rows: repeat(6, var(--cell));
  gap: 4px;

  justify-content: center;
  align-content: center;
}

.cell {
    border: 1px solid #ccc;
    width: 96px;
    height: 96px;
    box-sizing: border-box;
}