.body {
    min-width: 100%;
    min-height: 100%;
}

.layout {
    display: flex;
    overflow: auto;
    min-width: 100%;
    min-height: 50%;
}

.grid {
  --cols: 12;
  --rows: 3;
  /* gap = cell'in oranı */

  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cellSize));
  grid-template-rows: repeat(var(--rows), var(--cellSize));
  gap: var(--gap);

  justify-items: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

@media (max-width: 600px) {
    .grid {
        --cols: 3;
        --rows: 12;
    }
}

.cell {
    border: 1px solid #ccc;
    width: var(--cellSize);
    height: var(--cellSize);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}