.body {
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px;
    width: 100%;
    height: 100%;
}

.cell {
    border: 1px solid #ccc;
    width: 96px;
    height: 96px;
}