.layout {
    background-color: #8d3c3c;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
}

.layout .container {
    width: auto;
    height: auto;
    position: relative;
}

.layout .section {
    position: absolute;
    background-color: #3c4f8d;
    align-content: center;
    justify-items: center;
    transition: background-color 0.2s ease;
}

.layout .section.highlighted {
    background-color: #8d3c8d;
}

.layout .section .container {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 2px solid #000000;
    border-radius: 4px;
    overflow: none;
}

.layout .section .container .item {
    background-color: rgb(84, 113, 54);
    border: 1px solid #000000;
    border-radius: 4px;
}